<!--   <form action="/create" method="post">
    <input type="text" placeholder="Post Name" name="post[name]">
    <input type="text" placeholder="Author" name="post[author]">
    <input type="text" placeholder="tag" name="tag[name]">
    <textarea name="post[description]"></textarea>
    <%= token_tag form_authenticity_token %>

    <button> Save Post </button>
  </form>
   -->

<%= form_for @post do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :author %>
  <%= f.text_area :description %>
  <textarea name="tag"></textarea>
  <%= f.submit "Save Your Post" %>

<% end %>
