<h2><%= @post.name %></h2>
<h3><%= @post.author %></h3>
<a href="/tags" name="tag" value="<%= @post.tags(&:id) %>"><%= @post.tags.map(&:name) %></a>
<p><%= @post.description %></p>

<!-- <form action="/posts/<%= @post.id %>" method="post">
	<input type="submit" value="Remove this post">
	    <%= token_tag form_authenticity_token %>
</form> -->

<a href="<%= edit_post_path(@post) %>" >Edit Post</a>

<%= form_for @post do |post| %>
	<% button_to "Delete This Post", post_path(post), method: :delete %>
<% end %>


